<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="Phil Nash">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <h1><a href="/">Unintentionally Blank</a></h1>
    <p>Phil Nash on the Internet, Web Standards and Accessibility</p>
  </header>
  <section id="main">
    {{ content }}
  </section>
  <footer>
    <p><a href="/">Home</a> | <a href="/about/">About</a> | <a href="/test-centre/">Test Centre</a></p>
    <p>Copyright &copy; 2012 <a href="http://philnash.co.uk" rel="me external">Phil Nash</a> | <a href="http://twitter.com/philnash" rel="me external">@philnash</a></p>
  </footer>

  <div id="disclaimer">
    <p>Unintentionally Blank is <a rel="me" href="http://twitter.com/philnash">Phil Nash</a>'s thoughts on web development from 2006-2008. Any code or opinions may be out of date.</p>
  </div>

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-144643-2']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setAccount', 'UA-41472902-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
